body {
    background-color: #33CCFF;
    -webkit-animation-name: bg; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 6s; /* Chrome, Safari, Opera */
    animation-name: bg;
    animation-duration: 6s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bg {
    from {opacity: 0;}
    to {opacity: 100;}
}

/* Standard syntax */
@keyframes bg {
    from {opacity: 0;}
    to {opacity: 100;}
}

div.mainbody {
    height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
	
}

.mainbody {
    
    transition:all 1s ease;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
	position:relative;
	text-align:center;
	padding:20px 0;
	width:420px;
	height: 160px;
	margin: 0 auto;
}

/* You can style pseudo elements and give them content,
   as if they were real elements on the page */

.mainbody::before{
	display: block;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	padding:15px;
}

.mainbody span{
	display:inline-block;
	padding:2px 40px;
	border-radius:4px;
	margin:3px;
	cursor:default;
}

.mainbody span::after{
	display:inline-block;
	padding:4px;
}

/* Pseudo elements can even access attributes of their parent element */

.mainbody span::before{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	content:attr(data-title);
	color:#666;

	opacity:0;

	/* Animate the transitions */
	-webkit-transition:opacity 0.4s;
	transition:opacity 0.4s;
}

.mainbody span:hover::before{
	opacity:1;
}


div:target {
	opacity: 1;
	color:red;
    font-size:40px
}
