#wrapper {
	margin:auto;
}

.address-fields > ul li {
    background-color: #000;
    list-style-type: none;
}

button {
    background-color: white;
}
/*********compare_one*********/

.house_left {
    float: left;
}

.score_right {
    width: 200px;
    float: right;
    text-align:left;
    padding-left: 1.5em;
}

.top {
    width:500px;
    height:300px;
    margin:5px ;
}
.amenities {
    margin:5px ;
    width: 100%;
}


.viewHome {
    position:relative;
    width:90%; 
    border-radius:20px; 
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: #E84A7F 10px solid;
    overflow: auto;
}

/*********compare_two*********/
.home1 {
    float: left;
    width:50%;
    
}

.viewHome:hover {
    border: #BD3562 10px solid;
}

.home2 {
    float: right;
    width:50%;
   
}



.container {
    height:70%;
}


/*********compare_four*********/

.home3 {
    float: left;
    width:50%;
    
}

.home4 {
    float: right;
    width:50%;
   
}


input, button, submit { border:none; } 


