#wrapper {
	margin:auto;
}

#footer {
	display:block;
    height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

a:link, a:visited, a:hover, a:active   {
    color: #000;
    text-decoration: none;
}

input, button, submit { border:none; } 
